@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-base-light: #fafafc;
  --color-base-dark: #111111;

  --color-gray-25: #fcfcfd;
  --color-gray-50-Elevations: #f9f9f9;
  --color-gray-100: #f2f4f7;
  --color-gray-200-borders: #e5e7eb;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500-text-sec: #64748b;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-850: #1e1e2a;
  --color-gray-900: #101828;

  --color-primary-25: #f7f7fe;
  --color-primary-50: #eff0fe;
  --color-primary-100: #e0e0fc;
  --color-primary-200: #d0d1fb;
  --color-primary-300: #b1b3f8;
  --color-primary-400: #9294f5;
  --color-primary-main: #6366f1;
  --color-primary-hover: #4e50d1;
  --color-primary-pressed: #3e40a9;
  --color-primary-800: #2f3081;
  --color-primary-900: #20215a;
  --color-primary-920: #1a1a48;
  --color-primary-950: #141436;

  --color-secondary-25: #fb923c;
  --color-secondary-50: #fee9d8;
  --color-secondary-100: #fedec5;
  --color-secondary-200: #fdd3b1;
  --color-secondary-300: #fdbe8a;
  --color-secondary-400: #fca863;
  --color-secondary-tertiary-motivational: #fb923c;
  --color-secondary-600: #e28336;
  --color-secondary-700: #c97530;

  --color-accent-soft-bg: #f3e8ff;
  --color-accent-sec-accent: #a78bfa;
  --color-accent-sec-text: #7e22ce;

  --color-success-25: #f3fbf9;
  --color-success-50: #e7f8f2;
  --color-success-100: #cff1e6;
  --color-success-200: #b7ead9;
  --color-success-300: #87dcc0;
  --color-success-400: #58cea7;
  --color-success-main: #10b981;
  --color-success-600: #0ea774;
  --color-success-700: #0d9467;

  --color-warning-25: #fefaf3;
  --color-warning-50: #fef5e7;
  --color-warning-100: #fdecce;
  --color-warning-200: #fce2b6;
  --color-warning-300: #facf85;
  --color-warning-400: #f8bb54;
  --color-warning-main: #f59e0b;
  --color-warning-600: #dd8e0a;
  --color-warning-700: #c47e09;

  --color-error-25: #fef6f6;
  --color-error-50: #fdecec;
  --color-error-100: #fcdada;
  --color-error-200: #fac7c7;
  --color-error-300: #f7a1a1;
  --color-error-400: #f47c7c;
  --color-error-main: #ef4444;
  --color-error-hover: #d73d3d;
  --color-error-pressed: #bf3636;

  --color-info-25: #f3fafe;
  --color-info-50: #e7f6fd;
  --color-info-100: #cfedfb;
  --color-info-200: #b7e4f8;
  --color-info-300: #87d2f4;
  --color-info-400: #56c0f0;
  --color-info-main: #0ea5e9;
  --color-info-600: #0d95d2;
  --color-info-700: #0b84ba;

  --color-gray-blue-25: #0b84ba;
  --color-gray-blue-50: #f8f9fc;
  --color-gray-blue-100: #eaecf5;
  --color-gray-blue-200: #d5d9eb;
  --color-gray-blue-300: #b3b8db;
  --color-gray-blue-400: #717bbc;
  --color-gray-blue-500: #4e5ba6;
  --color-gray-blue-600: #3e4784;
  --color-gray-blue-700: #363f72;
  --color-gray-blue-800: #293056;
  --color-gray-blue-900: #101323;
  --color-gray-blue-950: #0d0f1c;

  --color-blue-50: #eff8ff;
  --color-blue-100: #d1e9ff;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;

  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fbe8ff;
  --color-fuchsia-500: #d444f1;
  --color-fuchsia-600: #ba24d5;

  --color-green-light-50: #f3fee7;
  --color-green-light-100: #e3fbcc;
  --color-green-light-500: #66c61c;
  --color-green-light-600: #4ba30d;

  --color-pink-50: #fdf2fa;
  --color-pink-100: #fce7f6;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;

  --color-rose-50: #fff1f3;
  --color-rose-100: #ffe4e8;
  --color-rose-500: #f63d68;
  --color-rose-600: #e31b54;

  --color-yellow-50: #fefbe8;
  --color-yellow-100: #fef7c3;
  --color-yellow-500: #eaaa08;
  --color-yellow-600: #ca8504;
}

:root {
  --radius: 0.625rem;
  --background: #fafafc;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-primary-50);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: var(--color-primary-300);
  --sidebar-ring: oklch(0.708 0 0);
  --icon-inner: var(--color-primary-main);
}

.dark {
  --background: #111111;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-primary-900);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--color-primary-50);
  --sidebar-accent-foreground: var(--color-primary-main);
  --sidebar-border: var(--color-primary-400);
  --sidebar-ring: oklch(0.556 0 0);
  --icon-inner: var(--color-primary-25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
  }
  body {
    @apply bg-background text-foreground;
  }
}
